*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
    font-family: 'Chewy', cursive;
}
body
{
    position: relative;
    background-color: cornsilk !important;
    width: 100%;
    height: 100%;
}
.oculto
{
    display: none;
}
.invisible
{
    visibility: hidden;
}
#secImagen
{
    margin: 10px;
}
.progress-bar
{
    background-color: #7a7a7a !important;
}
#opcion1, #opcion2, #opcion3
{
    font-size: 20px;
}
.opciones
{
    margin-bottom: 20px;
}
.social:hover
{
    opacity: 0.5;
}
#fondo
{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}
.btn-primary
{
    background-image: none !important;
    background-color: #7a7a7a !important;
    border-color: #7a7a7a !important;
    font-size: 20px !important;
    margin: 10px;
}
.btn-primary:hover
{
    background-color: #5b5b5b !important;
    border-color: #5b5b5b !important;
}
footer
{
    margin-top: 20px;
    bottom: 0px;
    left: 0;
    width: 100%
}